{% extends 'login/menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <meta name="csrf-token" content="{{ csrf_token }}">
        <link rel="stylesheet" href="{% static 'css/Table.css' %}">
        {% endblock  %}
        <title>Formulário</title>
    </head>
    <body>
        {% block content %}
        <div class='content'>
            <div class='center col'>
                
            </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="container">
            <a href="{% url 'Cash_registry' %}">
                <button class="btn btn-success">Cadastrar</button>
            </a>
        </div>
        <div id="messageContainer"></div>
            <table>
                <thead>
                    <tr>
                        <th>Banco</th>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody id="results">    
                {% for registry in cashMovement %}
                <tr>
                    <td>{{ registry.cash.bank.bank_name }}</td>
                    <td>{{ registry.created_at }}</td>
                    <td>{{ registry.categoria }}</td>
                    <td>{{registry.accounts_in_cash.value}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> 
        {% endblock %}

        {% block scripts %}
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/search_payment.js' %}"></script>
        {% endblock %}
    </body>
</html>
